
<div class="app-container">
  <label>Brand:&emsp; &emsp;</label>  
<input class="brand" #brand name= "brand" placeholder="Brand Name" /><br><br>
<label>Phone:&emsp; &emsp;</label>  
<input class="phone" #phone name= "phone" placeholder="Phone Name"/><br><br>
<label>Image url:&emsp; &emsp;</label>  
<input class="image" #image name= "image" placeholder="Image url"/><br><br>

<button type="submit" (click)="getForm(phone.value, brand.value, image.value)">Add</button>
</div>

<app-home [myappc]="phoneList"></app-home>